<div class="py-2 rounded-lg bg-white">
  <TariffDeleteRow
    @selectionsCount={{this.selectedCount}}
    @areAllTariffsSelected={{this.areAllTariffsSelected}}
    @handleSelectAll={{this.handleSelectAll}}
    @onDelete={{fn (mut this.isDeleting) true}}
  />
  <div class="table-container">
    {{#let (map-by 'id' this.selections) as |selectedTariffIds|}}
      <Ui::Table
        @columns={{this.columns}}
        @rows={{@model}}
        @isRowSelected={{this.isRowSelected}} as |table|
      >
        <table.Head as |head|>
          <head.Row as |row|>
            <row.Cell />
          </head.Row>
        </table.Head>
        <table.Body as |body|>
          <body.Row as |row|>
            <row.Cell as |cell|>
              {{#let
                cell.cellValue
                cell.row
                cell.column as |cellValue row column|
              }}
                {{#if column.isSelectorRow}}
                  {{#let (gt row.schedulesCount 0) as |isSelectable|}}
                    <div>
                      {{#unless isSelectable}}
                        <EmberTooltip
                          class="w-full"
                          @popperContainer="body"
                          @text="No schedules to select"
                        />
                      {{/unless}}
                      <input
                        aria-label="Select Tariff"
                        data-test-action="{{concat 'tariff-selector-' row.id}}"
                        type="checkbox"
                        disabled={{not isSelectable}}
                        checked={{if
                          isSelectable
                          (includes row.id selectedTariffIds)
                          false
                        }}
                        {{on 'change' (fn this.onSelectRow row)}}
                      />
                    </div>
                  {{/let}}
                {{else if column.cellComponent}}
                  {{#component
                    column.cellComponent
                    cellValue=cellValue
                    row=row
                    column=column
                    actions=(compute
                      (fn this.getActionsForComponent row column)
                    )
                  }}{{/component}}
                {{else}}
                  {{cellValue}}
                {{/if}}
              {{/let}}
            </row.Cell>
          </body.Row>
        </table.Body>
      </Ui::Table>
    {{/let}}
  </div>
</div>
{{#if this.incrementingRow}}
  <Ui::Modal @heading="Supplier Details" as |modal|>
    <modal.Body>
      <ul class="property-listing">
        <Ui::ListItem 
          data-test-data="property-listing-tariff-id"
          @heading="Tariff ID" 
          @value={{this.incrementingRow.id}} />
        <Ui::ListItem
          data-test-data="property-listing-supplier-name"
          @heading="Supplier Name"
          @value={{this.incrementingRow.supplierName}}
        />
      </ul>
    </modal.Body>
    <modal.Footer>
      <button
        data-test-action="dismiss-supplier-details-modal"
        class="primary"
        onclick={{fn (mut this.incrementingRow) null}}
        type="button"
      >
        Close
      </button>
    </modal.Footer>
  </Ui::Modal>
{{/if}}
{{#if this.isDeleting}}
  <Ui::Modal @heading="Delete Selected Tariffs" as |modal|>
    <modal.Body>
      <div>
        <p class="p-2 text-md">
          The list of suppliers for the chosen tariffs
        </p>
        <ul class="property-listing">
          {{#each this.uniqueSupplierSelections as |tariff|}}
            <Ui::ListItem
              data-test-data="property-listing-supplier-name"
              @heading={{tariff.supplierCode}}
              @value={{tariff.supplierName}}
            />
          {{/each}}
        </ul>
      </div>
    </modal.Body>
    <modal.Footer>
      <button
        class="primary mr-2"
        onclick={{this.deleteSelectedRows}}
        type="button"
      >
        Delete
      </button>
      <button
        class="secondary"
        onclick={{fn (mut this.isDeleting) false}}
        type="button"
      >
        Close
      </button>
    </modal.Footer>
  </Ui::Modal>
{{/if}}