<div class="ember-table toolbar">
  <table>
    <tbody>
      <tr>
        <td class="select-all-checkbox">
          <input
            data-test-action="select-all"
            type="checkbox"
            aria-label="Select All"
            checked={{@areAllTariffsSelected}}
            indeterminate={{this.isIndeterminate}}
            {{on 'change' @handleSelectAll}}
          />
        </td>
        <td>
          <div class="flex pl-8">
            <div class="mr-4 pt-4" data-test-data="selection-status-text">
              {{#if @areAllTariffsSelected}}
                All tariffs selected
              {{else if @selectionsCount}}
                {{concat 'Selected ' @selectionsCount ' tariffs'}}
              {{else}}
                None Selected
              {{/if}}
            </div>
            <button
              data-test-action="delete-selected-tariffs"
              class="inline"
              disabled={{eq @selectionsCount 0}}
              type="button"
              {{on 'click' @onDelete}}
            >
              {{svg-jar 'delete' class='icon delete' width='24px'}}
              <span class="pb-2" >Delete</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>